{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block sidebar %}{% endblock %}
{% block page_title %}{% endblock %}

{% block content %}
<div class="d-flex flex-column flex-fill align-items-center justify-content-center">
  <div class="container-tight py-4">
    <div class="text-center mb-4">
      <h1 class="h1">IT Task Manager</h1>
    </div>
    <div class="card card-md">
      <div class="card-body">
        <h2 class="h2 text-center mb-4">Login to your account</h2>
        {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            Your username and password didn't match. Please try again.
          </div>
        {% endif %}
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">Login</button>
          </div>
        </form>
      </div>
    </div>
    <div class="alert alert-info mt-4">
      <h4 class="alert-title">Demo Credentials</h4>
      <div class="text-muted">
        You can use a test superuser account to review the project.
        (If running locally, please load the data fixture first).
      </div>
      <ul class="list-unstyled mt-2">
        <li><strong>Username:</strong> admin</li>
        <li><strong>Password:</strong> 1qazcde3</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
