{% extends "base.html" %}

{% block title %}Positions{% endblock %}

{% block content %}
  <h1>
    Positions
    <a href="{% url 'tracker:position-create' %}" class="btn btn-primary float-end">Create</a>
  </h1>

  {% if position_list %}
    <table class="table mt-4">
      <tr>
        <th>Name</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for position in position_list %}
        <tr>
          <td>{{ position.name }}</td>
          <td><a href="{% url 'tracker:position-update' pk=position.id %}" class="btn btn-secondary btn-sm">Update</a></td>
          <td><a href="{% url 'tracker:position-delete' pk=position.id %}" class="btn btn-danger btn-sm">Delete</a></td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>No positions found.</p>
  {% endif %}
{% endblock %}
