{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ page_title|default:"All Tasks" }}{% endblock %}

{% block content %}
  <h1>
    {{ page_title|default:"Task List" }}
    <a href="{% url 'tracker:task-create' %}" class="btn btn-primary float-end">Create Task</a>
  </h1>

  <form method="get" action="" class="my-4">
    <div class="input-group">
      {{ search_form|crispy }}
      <button class="btn btn-outline-secondary" type="submit">Search</button>
    </div>
  </form>

  {% if task_list %}
    <table class="table table-hover mt-4">
      <thead>
      <tr>
        <th>Name</th>
        <th>Priority</th>
        <th>Deadline</th>
        <th>Completed</th>
      </tr>
      </thead>
      <tbody>
      {% for task in task_list %}

        {% ifchanged task.is_completed %}
          {% if task.is_completed %}
            <tr>
              <td colspan="4" class="text-center bg-light fw-bold">Completed Tasks</td>
            </tr>
          {% endif %}
        {% endifchanged %}

        <tr>
          <td><a href="{% url 'tracker:task-detail' pk=task.id %}">{{ task.name }}</a></td>
          <td>
              <span class="badge
                {% if task.priority == 'URGENT' %}bg-danger
                {% elif task.priority == 'HIGH' %}bg-warning
                {% else %}bg-secondary{% endif %}">
                {{ task.get_priority_display }}
              </span>
          </td>
          <td>{{ task.deadline }}</td>
          <td>
            {% if task.is_completed %}
              <span class="badge bg-success">Yes</span>
            {% else %}
              <span class="badge bg-secondary">No</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

    {% if is_paginated %}
      {% include "includes/pagination.html" %}
    {% endif %}

  {% else %}
    <p class="mt-4">There are no tasks matching your search.</p>
  {% endif %}
{% endblock %}
