<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="min-height: 100vh;">
  <a href="{% url 'tracker:index' %}"
     class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
    <span class="fs-4">IT Task Manager</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    {% if user.is_authenticated %}
      <li class="nav-item">
        <a href="{% url 'tracker:index' %}" class="nav-link text-white">Dashboard</a>
      </li>
      <li>
        <a href="{% url 'tracker:task-list' %}" class="nav-link text-white">All Tasks</a>
      </li>
      <li>
        <a href="{% url 'tracker:worker-list' %}" class="nav-link text-white">Workers</a>
      </li>
      <li>
        <a href="{% url 'tracker:position-list' %}" class="nav-link text-white">Positions</a>
      </li>
      <li>
        <a href="{% url 'tracker:task-type-list' %}" class="nav-link text-white">Task Types</a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">My Tasks</a> {# Link to be added later #}
      </li>
    {% endif %}
  </ul>
  <hr>
  {% if user.is_authenticated %}
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
         data-bs-toggle="dropdown" aria-expanded="false">
        <strong>{{ user.username }}</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
        <li><a class="dropdown-item" href="{% url 'tracker:worker-detail' pk=user.pk %}">Profile</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li>
          <form action="{% url 'logout' %}" method="post" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="dropdown-item">Sign out</button>
          </form>
        </li>
      </ul>
    </div>
  {% else %}
    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
  {% endif %}
</div>
