{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ object|yesno:"Update Position,Create Position" }}{% endblock %}

{% block page_title %}
  {{ object|yesno:"Update Position,Create Position" }}
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-lg-6">
    <form method="post" novalidate>
      {% csrf_token %}
      {{ form|crispy }}
      <div class="mt-4">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'tracker:position-list' %}" class="btn">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
