{% extends "base.html" %}

{% block title %}Delete Worker{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="text-center mb-4">
      <h2 class="h1">Delete Worker</h2>
    </div>
    <div class="card">
      <div class="card-status-top bg-danger"></div>
      <div class="card-body text-center py-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="icon mb-2 text-danger icon-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 9v4"></path><path d="M10.363 3.591l-8.106 13.534a1.914 1.914 0 0 0 1.636 2.871h16.214a1.914 1.914 0 0 0 1.636 -2.87l-8.106 -13.536a1.914 1.914 0 0 0 -3.274 0z"></path><path d="M12 16h.01"></path></svg>
        <h3 class="card-title">Are you sure?</h3>
        <p class="text-muted">Do you really want to delete the worker <strong>{{ object.username }}</strong>? This process cannot be undone.</p>
        <form method="post">
          {% csrf_token %}
          <div class="d-flex justify-content-center">
            <a href="{% url 'tracker:worker-detail' pk=object.id %}" class="btn w-30 me-2">Cancel</a>
            <button type="submit" class="btn btn-danger w-30">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
